[Desktop Entry]
Categories=GNOME;GTK;Network
Comment=Browser for Gemini protocol
Exec=Yoda
GenericName=Browser
#Icon=io.github.yggverse.Yoda
Keywords=Gnome;GTK;Gemini;Browser
Name=Yoda
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true
X-Purism-FormFactor=Workstation
